node_modules/
dist/
*.log
.env
.env.local

# Google Auth
service-account-key.json
*-service-account.json
credentials.json

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/*.tfplan
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# OS
.DS_Store
Thumbs.db

/public/events.json